{% extends "base.html" %}

{% block title %}
    {{post.title}}
{% endblock %}
{% block content %}
    <h2 class="mt-3" >{{post.title}}</h2>

    <div class="card mt-3 ">
        <div class="card-body">
            {{post.body}}
            <p> <small class="text-muted" > Posted at: {{post.created}} | Updated: {{post.updated}} | Author: {{post.auther}} </small> </p>
            {% if post.auther == request.user %}
                <small class="text-muted" >
                    <a href="{% url 'posts:update'  post.id%}">Update</a>
                    <a href="{% url 'posts:delete' post.id %}">Delete</a>
                </small>
            {% endif %}
      </div>
    </div>

{% endblock %}
